apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    uid: PBFA97CFB590B2093
    orgId: 1
    isDefault: true
    editable: true
    version: 1
    jsonData:
      httpMethod: POST
      timeInterval: 15s
      queryTimeout: 60s
